
.navList{
    margin-left: 52%;
}


.navList li{
   font-size: 16px;
   font-weight: 600px;
   padding: 1px 5px;
   color: #fff;
}

.navLogo{
    width: 65px;
    display: inline;
    margin-left: 8%;
}

.link{
    color: #fff;
}

.link:hover{
    color: #fff;
    transform: scale(1.1);
}

.link:active{
    color: #61CE70;
    border-bottom: 1px solid #61CE70;
}

.fixlink{
    color: #fff;
}

.fixlink:hover{
    color: #fff;
}

@media only screen and (max-width: 991px){
    .navList{
        margin-left: 9%;
    }

}




