.par {
    width: 48%;
    text-align: center;
    margin: 100px auto;
}

.par h1{
    font-weight: bolder;
    font-size: 38px;
}

.pImg{
    margin-bottom: 20px;
    width: 50px;
}

.parSpan{
    color: #61CE70;
}

.gridContainer{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.gridText h2{
    font-weight: 700;
}

.gridText p{
    padding: 20px 0;
    color: #8D7777;
    font-size: 16px;
}

.gridText button{
    background-color: #61CE70;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid  #61CE70;
}

.blogHead{
    padding-bottom: 0;
}

.line{
    background-color: #61ce70;
    height: 4px;
    width: 12%;
}

.blogLine{
    background-color: #61ce70;
    height: 4px;
    width: 6.5%;
    margin-bottom: 10px;
}

.gridImg{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.imgCard{
    height: 200px;
}

.cardWidth{
    width: 100%;
    border: 1px solid #f4f4f4;
    box-shadow: 0 5px 15px rgba(0,0,0,.35);
    
    
}

.cardImg{
    width: 100%;
    height: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.cardImgHeight{
    height: 200px;
}

.cardBody{
    margin: 0 20px;
    margin-top: 17px;
}

.blogBtn{
    background-color: #61CE70;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid  #61CE70;
    margin-bottom: 10px;
}

.blogBtn2{
    background-color: #61CE70;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid  #61CE70;
    margin-bottom: 50px;
}
.blogRead{
    text-decoration: none;
    color: #61CE70;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.blogRead i {
    font-size: 9px;
}

.blogDate{
    color: #8D7777;
    font-size: 16px;
    
}

.blogHead2{
    margin-top: 70px;
    
}

.blogHead2 h2{
    font-weight: bolder;
    
}

.excecutivesGrid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.blogLine2{
    background-color: #61ce70;
    height: 4px;
    width: 20%;
    margin-bottom: 10px;
}

.exeImg{
    width: 100%;
    height: 450px;
    object-fit: cover;
}



.phoneButton{
    background-color: #61ce70;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid  #61ce70;
}

.phoneButton a{
    text-decoration: none;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    word-spacing: 2px;
}

.gridTitle{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 20px;
}

.gridName{
    font-weight: 500;
    font-size: 20px;
    word-spacing: 3px;
}

.pText{
    margin-left: 10px;
}

.patronsGrid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.blogLine3{
    background-color: #61ce70;
    height: 4px;
    width: 90px;
    margin-bottom: 10px;
}

.underline{
    text-decoration: underline;
    color: #8D7777;
}

@media only screen and (max-width: 750px) {
    .gridContainer{
        display: grid;
       gap: 20px;
       grid-template-columns: 1fr;
        
  }

  .excecutivesGrid{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
  }


  .patronsGrid{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
  }

  .exeImg{
    width: 90%;
    height: 680px;
    object-fit: cover;
}
}

@media only screen and (min-width: 991px){
    
}

@media only screen and (min-width: 768px){
    
}

@media only screen and (min-width: 600px){
    

   
}

@media only screen and (max-width: 600px){
   
}

@media only screen and (max-width: 320px){

    .par {
        width: 90%;
        text-align: center;
        margin: 100px auto;
    }

    .par h1{
        font-weight: bolder;
        font-size: 26px;
    }

}